# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Optional cache
.cache/
.next/
.vscode/
dist/
build/
